.title{
    margin: 13px;
    padding: 5px;
}
h2{
    font-size: 27px;
    text-align: center;
    margin: 7px;
    padding: 8px;
}
h3{
    font-size: 22px;
}
.cryptoIcon{
    width: 47px;
}
.changePercentage{
    margin: 5px;
    font-size: 1.175rem;
    display: flex;
    align-items: center;
}

.details{
    width: 85vw;
    margin: auto;
}
.stats-item{
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 2px;
    padding: 12px;
    border-bottom: 1px solid rgba(159, 156, 156, 0.1);
}
.stats-title{
    font-weight: 300;
}
.stats-data{
    font-weight: 500;
}

.description{
    margin: 10px;
}

.websites-item{
    margin: 10px 15px; padding: 2px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(159, 156, 156, 0.1);
}
.website-link{
    text-decoration: none;
}
.website-link:hover{
    color: blueviolet;
    font-size: 0.95rem;
    font-weight: 500;
}