.title-CryptoItem{
    font-weight: 300;
    margin: 0;
}

.number-CryptoItem{
    font-size:19px;
    margin: 0;
}

.card-width{
    width: 18rem;
}

.heading{
    display:flex;
}

.heading h5{
    padding-right: 7px;
    position: relative;
    top: -6px;
}

.card-hover:hover{
    transform: scale(1.07,1.07);
    transition: all 0.1s ease-in;
}